{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Plum Picks</title>
        <link rel="stylesheet" href="{% static 'common.css' %}">
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <div class="menu">
                            <a href="http://127.0.0.1:8000/home"><img src="https://drive.google.com/uc?export=view&id=1p9AMSuf9WBUp9f27oYFU4sStFK1YbO_5" id="logo"></a>
                        </div>
                        <div class="menu">
                            <button class="dropbtn"><a class="menu_link" href="http://127.0.0.1:8000/NHL/">NHL</a></button>
                        </div>
                        <div class="menu">
                            <button class="dropbtn"><a class="menu_link" href="http://127.0.0.1:8000/NFL/">NFL</a></button>
                        </div>
                        <div class="menu">
                            <button class="dropbtn"><a class="menu_link" href="http://127.0.0.1:8000/NBA/">NBA</a></button>
                        </div>
                        <div class="menu">
                            <button class="dropbtn"><a class="menu_link" href="http://127.0.0.1:8000/MLB/">MLB</a></button>
                        </div>
                        <div class="menu">
                            <button class="dropbtn"><a class="menu_link" href="http://127.0.0.1:8000/Golf/">Golf</a></button>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Other Sports</button>
                            <div class="dropdown-content">
                              <a href="Soccer.html">Soccer</a>
                              <a href="Lacrosse.html">Lacrosse</a>
                              <a href="CombatSports.html">Combat Sports</a>
                              <a href="Cricket.html">Cricket</a>
                              <a href="Rugby.html">Rugby</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div> 
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="header2">
                        <div class="menu">
                            <button class="dropbtn2"><img class="logo" src="https://drive.google.com/uc?export=view&id=1WpkSFgLHPg4I3eWPkI6OnmSnGh4BSlwP">      MLB</button>
                        </div>
                        <div class="menu">
                            <p>/</p>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn2">Team</button>
                                <div class="dropdown-content">
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1N28B_h26up_UppwW6mst1E61jEJ37Btz">   Arizona Diamondbacks</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=184mqIZ0fJwVRZNILFTevkc6mjKTU375X">   Atlanta Braves</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1dTZIr4ahLhXW943r6I_GySQL8tGfjL97">   Baltimore Orioles</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1RiMBRED9vD1yjnvPlvFqkncFnId-s-Zs">   Boston Red Sox</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1WpNgO-TlWEiA7FES3Gcou4zlJhvOFnP_">   Chicago White Sox</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1A7AE_VDIBeI2eRKTnL1uNHyxELMOoQ_8">   Chicago Cubs</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1XcPVUw-6FPV4l0aIItv8eY-fiir6QtYv">   Cincinnati Reds</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1edmtUvKM9IxiCaY5itOPV2ltSIkesBjP">   Cleveland Guardians</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1IKuyO9dIrczx2NLtKlXkrEA01kvli8Rm">   Colorado Rockies</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1FYAliqWmzl4M_mwvNNyx-3VZTUSxa5L3">   Detroit Tigers</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1_d3uEoGkKyIT0mvYNR6ZR-s1Pae_e4YH">   Houston Astros</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1UgNWDavplzLlFZCpIAaGU9TwrRpwNw69">   Kansas City Royals</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1BgmgQtRK2FMJI2lXNY7WTy-quPh06v7L">   Los Angeles Angels</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1PNmlorRMgQIK3Mt5VDZqyg1wfbEQpts2">   Los Angeles Dodgers</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1EZK1tTFz-XqhAilSi11xXG8MDCn9Vs-z">   Miami Marlins</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1mm7gSuvVUlIqdeTmvmDbwIXXK0Em0KEd">   Milwaukee Brewers</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1mpa3yjHXH-HhIx452MJgaL7pOhQtisFt">   Minnesota Twins</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1t8lzkOjjuDwa_bd8wHjR3K3hnMTjkheW">   New York Mets</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1fm4sGmA1rpVIOHgBapHEgSz2tLzkfY3v">   New York Yankees</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1F_55__rELEM76ke7Wc9VEZs2FwLd-ZO-">   Oakland Athletics</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=18K-767JrvR-2q87bkZhmHPRL8fkWeIZk">   Philadelphia Phillies</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1STMOy5HYP4bgP1GQoqCsZ0tQGC0VRsvo">   Pittsburgh Pirates</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1EO86WtQkqVFeYMMqIXhkx3W80Kd7oy7l">   San Diego Padres</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1y_JHzaoDfWTUjSEjMuyqU_aeFKSWV6mD">   San Francisco Giants</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1RhxdS54BtWJLTeQsX_WyLw4-U0O2xMH1">   Seattle Mariners</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1ekc05KCgKgyjSD7810Dsyei68m4dW51l">   St. Louis Cardinals</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1_s2Ek2Cj9NLqkmNfzMt5888QGUxTTlbM">   Tampa Bay Rays</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1OaEOsUdOAqICGMs-nj3dC9cmf2kwHYfv">   Texas Rangers</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1yVpHZR87UUlINkG8NSShD_cgzEsnuwLD">   Toronto Blue Jays</a>
                                    <a href="#"><img class="logo" src="https://drive.google.com/uc?export=view&id=1XXg2kdv9B-RSXTGfFxkIqyxdLbTFPSR1">   Washington Nationals</a>          
                                </div>
                        </div>
                        <div class="menu">
                            <p>/</p>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn2">Bets</button>
                                <div class="dropdown-content">
                                    <a href="#">Same Game Parlays</a>
                                    <a href="#">Props</a>
                                    <a href="#">Best Bets</a>
                                    <a href="#">Live Bets</a>
                                </div>
                        </div>
                        <div class="menu" id = "create_post">
                            <button class="dropbtn3"><a class="btn btn-dark" href="/postpage">Create Post</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8" id="posts">
                        {% for x in myposts %}
                                <br>
                                <p class = "title">{{x.title}}</p>
                                <p class = "content">{{x.content}}</p>
                                <p class = "author">- {{x.author}}</p>
                                <p class = "postdate">{{x.post_date}}</p>
                                <br>
                                <hr>  
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>