<!-- <html>
    <head>
        <title>My Flask Form</title>
    </head>
    <body>
        <form action = "http://127.0.0.1:5000/login" method = "post" enctype = "multipart/form-data">
            <p>Enter First Name:</p>
            <p><input type = "text" name = "u_name" required /></p>
            <p>Enter Last  Name:</p>
            <p><input type = "text" name = "u_last_name" required /></p>
            <p>Enter Email:</p>
            <p><input type = "email" name = "u_mail" required /></p>
            <p>Your profile image:</p>
            <input type = "file" name = "u_file" required />
            <p>Your ppt :</p>
            <input type = "file" name = "u_ppt" required />
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
</html> -->

<!-- <html>
    <head>
        <title>My Flask Form</title>
    </head>
    <body>
        <form action = "http://127.0.0.1:5000/blog_form" method = "post" enctype = "multipart/form-data">
            <p>Enter Blog Name:</p>
            <p><input type = "text" name = "blog_name" required /></p>
            <p>Enter Blog Heading:</p>
            <p><input type = "text" name = "blog_heading" required /></p>
            <p>Enter Blog Content</p>
            <textarea id="w3review" name="blog_body" rows="10" cols="50">
            </textarea>
            <p>Blog Author Name</p>
            <input type = "text" name = "blog_author" required />
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
</html> -->

<html>
    <head>
        <title>My Flask Form</title>
    </head>
    <body>
        <form action = "http://127.0.0.1:5000/blog_form" method = "post" enctype = "multipart/form-data">
            <p>Enter Blog Name:</p>
            <p><input type = "text" name = "blog_name" required /></p>
            <p>Enter Blog Heading:</p>
            <p><input type = "text" name = "blog_heading" required /></p>
            <p>Enter Blog Content</p>
            <textarea id="w3review" name="blog_body" rows="10" cols="50">
            </textarea>
            <p>Blog Author Name</p>
            <input type = "text" name = "blog_author" required />
            <p><input type = "submit" value = "submit" /></p>    
        </form>
    </body>
</html>